@media screen and (max-width: 767px) {

.Header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.HeaderContainer {
  max-width: 100%;
  margin: 0 20px;
}

.HeaderLogo__image--pc {
  display: none;
}

.HeaderLogo__image--sp {
  display: block;
  height: 16px;
  width: auto;
}

.HeaderNav{
  float: right;
  margin: 0 36px;
}

.HeaderNavList {
  top: 52px;
  align-items: center;
  justify-content: space-between;
}

.HeaderNavListItem{
  text-align: center;
  font-weight: bold;
  display: block;
}

.HeaderNavListItem:last-child{
  margin-right: 0;
}

.HeaderNavListItem__link {
  display: block;
}

.HeaderNavListItem__link>span {
  display: block;
  font-weight: 700;
  text-align: center;
}

.HeaderNavListItem__link>span:first-child {
  font-family: 'Lato', sans-serif;
}

.HeaderNavListItem__link>span:last-child {
  font-size: 10px;
}

.HeaderNavListItem__button{
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
}

.FirstView {
  background-image: none;
  padding: 0 0 35px;
}

.FirstView__main-image--sp {
  display:block;
}

.FirstView__container {
  position: relative;
  max-width: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -45vw;
  margin-left: auto;
  margin-right: auto;
}

.FirstViewContent {
  margin-bottom: 20px;
  width: 100%;
}

.FirstViewContent__title {
  font-size: 25px;
  line-height: 36px;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

.FirstViewContent__images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.FirstViewContent__images img{
  margin-right: 8px;
  width: 27.5%;
}

.FirstViewContent__buttons {
  display: flex;
  flex-direction: column;
}

.FirstViewContent__buttons a {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  height: 64px;
}

.FirstViewContent__buttons a:first-of-type {
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100% !important;
}

.FirstViewContent__buttons a:last-of-type {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  color: #000;
  height: 45px;
  width: 100% !important;
  font-size: 14px;
}

.AboutWrapper {
  padding: 30px 0;
}

.About {
  max-width: none;
  padding-left: 20px;
  padding-right: 20px;
}

.About__title h2 {
  font-size: 30px !important;
  text-align: center;
  line-height: 1.2;
}

.About__title h2>span {
  font-size: 33px;
}

.About__title br {
  display: block;
}

.About__button {
  width: 250px;
}

.About__button a {
  align-items: center;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: #F79214 !important;
  background-color: #fff;
}

.About__button a span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.About__button a span:last-child {
  font-size: 12px;
  line-height: 18px;
}

}