body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

body {
  color: #000;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

a {
  color: #000;
  text-decoration: none;
}

.Hover:hover {
  opacity: 0.8;
}

.Header {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
  max-width: 100%;
  position: relative;
}

.HeaderLogo__image--pc {
  display: block;
  height: 20px;
  width: auto;
}

 .HeaderLogo__image--sp {
   display: none;
}

.HeaderNav{
  float: right;
  margin: 0 36px;
}

.HeaderNavHamburger {
  display: none;
}

#menu-btn-check {
  display: none;
}

.HeaderNavList {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.HeaderNavListItem{
  margin-right: 45px;
  text-align: center;
  font-weight: bold;
}

.HeaderNavListItem:last-child{
  margin-right: 0;
}

.HeaderNavListItem__link {
  display: block;
}

.HeaderNavListItem__link>span {
  display: block;
  font-weight: 700;
  text-align: center;
}

.HeaderNavListItem__link>span:first-child {
  font-family: 'Lato', sans-serif;
}

.HeaderNavListItem__link>span:last-child {
  font-size: 10px;
}

.HeaderNavListItem__button{
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
}

.FirstView {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0 28px;
}

.FirstView__main-image {
  width: 100%;
}

.FirstView__main-image--sp {
  display:none;
}

.FirstView__container {
  position: relative;
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.FirstViewContent {
  margin-bottom: 70px;
  width: fit-content;
}

.FirstViewContent__title {
  text-align: center;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
}

.FirstViewContent__images {
  margin-bottom: 25px;
}

.FirstViewContent__images img{
  margin-right: 8px;
}

.FirstViewContent__images img:nth-of-type(2) {
  width: 40%;
}

.FirstViewContent__images img:last-of-type {
  margin-right: 0;
}

.FirstViewContent__buttons {
  display: flex;
}

.FirstViewContent__buttons a {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  height: 64px;
}

.FirstViewContent__buttons a:first-of-type {
  margin-right: 15px;
  width: 306px;
}

.FirstViewContent__buttons a:last-of-type {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  color: #000;
  width: 176px;
}

.FirstViewCaption {
  color: #A2A2A4;
  font-size: 12px;
  line-height: 1.5;
}

.FirstViewCaption a{
  color: #A2A2A4;
}

.AboutWrapper {
  background-color: #F79214;
  padding: 45px 0;
}

.About {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.About__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  width: 53%;
}

.About__title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 74px;
  width: 100%;
}

.About__title h2 span {
  letter-spacing: 1px;
}

.About__title h2>span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.About__title br {
  display: none;
}

.About__title p {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15px;
}

.About__title h2, .About__title p {
  color: #fff;
  text-align: left;
}

.About__button {
  width: 250px;
}

.About__button a {
  align-items: center;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: #F79214 !important;
  background-color: #fff;
}

.About__button a span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.About__button a span:last-child {
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 1100px) {
  .Header {
    background-color: #fff;
    z-index: 10;
  }

  .HeaderNavHamburger {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    background-color: rgba(0,0,0,0);
  }
  
  .HeaderNavHamburger span,
  .HeaderNavHamburger span:before,
  .HeaderNavHamburger span:after {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    background-color: #000000;
    position: absolute;
  }
  
  .HeaderNavHamburger span:before {
    bottom: 10px;
  }
  
  .HeaderNavHamburger span:after {
    top: 10px;
  }
  
  #menu-btn-check:checked ~ .HeaderNavHamburger span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-btn-check:checked ~ .HeaderNavHamburger span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #menu-btn-check:checked ~ .HeaderNavHamburger span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  .HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
  }
  
  #menu-btn-check:checked ~ .HeaderNavList {
    left: 0;
  }
  
  .HeaderNavListItem {
    margin-right: 0;
  }
  
  .HeaderNavListItem:last-of-type {
    margin-top: 20px;
  }
  
  .HeaderNavListItem__link {
    padding: 20px 0;
  }
  
  .HeaderNavListItem__link>span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
  }
  
  .HeaderNavListItem__link>span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #F79214;
    letter-spacing: 2px;
  }
  
  .HeaderNavListItem__button {
    font-size: 16px;
    margin: 0 auto;
    height: 60px;
    width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .About {
    flex-direction: column;
  }
  
  .About__title {
    margin-bottom: 0;
    width: 100%;
  }
  
  .About__button {
    margin-top: 40px;
  }
}